table, tr, th, td {
    border: 2px solid #808080;
    table-layout: fixed;
    height: 45px;
    width: 200px;
    margin-left: 30px;
    background-color: #E6F1F5;
    border-collapse: collapse;
    text-align: left;
}

td{
  padding: 5px;
}

th{
  background-color: #D3D3D8;
  height: 20px;
}

h1{
  margin-left: 50px;
  font-family: Sans-serif;

}
h2{
   color: #9C2424;
 }
h3{
  color:#9C2424;
}

button {
    background-color: #9C2424;
    position: relative;
    border: 1px solid black;
    color: white;
    float: right;
    padding: 5px 20px;
    text-align:right;;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 40px;
    cursor: pointer;
  }
#mydivwhite{
  background-color: white;
  margin-left: 20px;
  margin-right: 30px;
  padding-bottom: 80px;
}


#mydiv {
      border: 1px solid #E6F1F5;
      background-color: #E6F1F5;
      padding-bottom: 60px;
      width: 1200px;
      margin-left: 50px;
      margin-right: 40px;
  }

input {
    display: inline-block;
    float: left;
    width: 120px;
    padding: 3px;
    margin: 1.5px;
}
body{
  background-color: #9C2424;
}
